table {
  border-collapse: collapse;
  border: 1px solid black;
  letter-spacing: 1px;
  font-family: sans-serif;
  /* font-size: .8rem; */
}

td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}